<%- include("partials/head")%>

<body>
     <%- include("partials/navbar")%>
    <div class="card">
      <h2>Nuevo Post</h2>
      <form action="/savePost" method="post">
        <div class="form-group">
          <label for="posteo">Título:</label>
          <input type="text" id="titulo" name="titulo" required />
        </div>
        <div class="form-group">
                <label for="posteo">Contenido:</label>
                <textarea id="contenido" name="contenido" rows="5" required></textarea>
        <div class="form-group">
          <label for="posteo">URL Imagen:</label>
          <input type="text" id="urlImagen" name="urlImagen" required />
        </div>
      </form>
      <div class="btn-group">
        <button class="save">Guardar</button>
        <a href="/post" class="btn btn-secondary">Cancelar</a>
        <!-- <button class="cancel">Cancelar</button> -->
      </div>
    </div>
  </div>
  
</body>

  <%- include("partials/footer")%>
