<%- include("partials/head")%>
<body>
  <%- include("partials/navbar")%>
  <div class="container">
    <a href="/createPost" class="btn btn-white btn-lg mt-50">
      <i class="bx bx-book-add"></i>Nuevo post
    </a>

    <%- include("partials/table")%>
  </div>
</body>

<%- include("partials/footer")%>
