<body>
  <div class="centrar-imagen">
    <img
      src="https://fmn.unsl.edu.ar/wp-content/uploads/2023/05/banner-ok-argentina-programa-1030x335.jpg"
      alt="Descripción de la imagen"
    />
  </div>
</body>
